@model ArmyTechTask.Models.InvoiceDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceHeaderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceHeader.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
